Node Red Flow/flows.json
[
    {
        "id": "dc682c287d7214bc",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "925a8d1905c199f9",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37406",
        "acknowledge": true,
        "name": "Speakers",
        "topic": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "b7b2a7e1242d6f3a"
            ]
        ]
    },
    {
        "id": "b755f906ebd23625",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 1080,
        "y": 580,
        "wires": []
    },
    {
        "id": "b7b2a7e1242d6f3a",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on ? 1 : 0; // Set payload based on 'on' value\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "59d41e2fe99d9fee"
            ]
        ]
    },
    {
        "id": "73d55caf8e208560",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Ceiling Light",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "b755f906ebd23625",
                "3c484452d07d7699"
            ]
        ]
    },
    {
        "id": "703c64e7580c49fd",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "59d41e2fe99d9fee",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Speakers",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 180,
        "wires": [
            [
                "703c64e7580c49fd",
                "73e76c1307871bd3"
            ]
        ]
    },
    {
        "id": "d735a826edfa0e77",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "ecd7297a690e9f0e",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Mobile Charger",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "d735a826edfa0e77",
                "d63fbae632032326"
            ]
        ]
    },
    {
        "id": "75e8cee1fa04cf55",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay8",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 1080,
        "y": 780,
        "wires": []
    },
    {
        "id": "a29beb3d34949ab3",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Laptop Charger",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "75e8cee1fa04cf55",
                "6ca6b4c9ad2660a7"
            ]
        ]
    },
    {
        "id": "9ec6d161a6d5e621",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "19277",
        "acknowledge": true,
        "name": "Mobile Charger",
        "topic": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "aa5c8187c3e642a6"
            ]
        ]
    },
    {
        "id": "aa5c8187c3e642a6",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on ? 1 : 0; // Set payload based on 'on' value\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "ecd7297a690e9f0e"
            ]
        ]
    },
    {
        "id": "8f91fed52b9011e1",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37406",
        "name": "Speakers",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "73e76c1307871bd3",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === 1) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === 0) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be 1 or 0\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "8f91fed52b9011e1"
            ]
        ]
    },
    {
        "id": "a19ff18ee03beba9",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37407",
        "acknowledge": true,
        "name": "Ceiling Light",
        "topic": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "aaa7f407a2b484ee"
            ]
        ]
    },
    {
        "id": "aaa7f407a2b484ee",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on ? 1 : 0; // Set payload based on 'on' value\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "73d55caf8e208560"
            ]
        ]
    },
    {
        "id": "01eb83c2572ead8f",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37408",
        "acknowledge": true,
        "name": "Laptop Charger",
        "topic": "",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "9d1aa9adeb3c87a1"
            ]
        ]
    },
    {
        "id": "9d1aa9adeb3c87a1",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on ? 1 : 0; // Set payload based on 'on' value\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "a29beb3d34949ab3"
            ]
        ]
    },
    {
        "id": "d63fbae632032326",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === 1) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === 0) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be 1 or 0\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "1eb59b9785f997f1"
            ]
        ]
    },
    {
        "id": "1eb59b9785f997f1",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "19277",
        "name": "Mobile Charger",
        "x": 1360,
        "y": 320,
        "wires": []
    },
    {
        "id": "3c484452d07d7699",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === 1) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === 0) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be 1 or 0\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "92f80c04c49080ce"
            ]
        ]
    },
    {
        "id": "92f80c04c49080ce",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37407",
        "name": "Ceiling Light",
        "x": 1350,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ca6b4c9ad2660a7",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === 1) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === 0) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be 1 or 0\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "2f2e99b3ba69eff7"
            ]
        ]
    },
    {
        "id": "2f2e99b3ba69eff7",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37408",
        "name": "Laptop Charger",
        "x": 1360,
        "y": 700,
        "wires": []
    },
    {
        "id": "d21cf29f6a04a9e3",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay7",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 620,
        "y": 2200,
        "wires": []
    },
    {
        "id": "3f33101c42891ea7",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Extra2",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 2200,
        "wires": [
            [
                "d21cf29f6a04a9e3"
            ]
        ]
    },
    {
        "id": "aa87e36f11b87696",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Extra1",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 2120,
        "wires": [
            [
                "580f9e9f0b92b81a"
            ]
        ]
    },
    {
        "id": "580f9e9f0b92b81a",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 620,
        "y": 2120,
        "wires": []
    },
    {
        "id": "a8bfa859b66d9e34",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 620,
        "y": 2040,
        "wires": []
    },
    {
        "id": "5a0b358b0e0d648c",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Something",
        "tooltip": "",
        "group": "e769c46977393551",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 2040,
        "wires": [
            [
                "a8bfa859b66d9e34"
            ]
        ]
    },
    {
        "id": "fe4c6a6d3b528485",
        "type": "mqtt out",
        "z": "dc682c287d7214bc",
        "name": "",
        "topic": "raj_office/relay4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0d360e7b0956a7ad",
        "x": 1080,
        "y": 980,
        "wires": []
    },
    {
        "id": "c60b7b529232abaf",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "TV Light Power",
        "tooltip": "",
        "group": "5514a91992dea871",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 940,
        "wires": [
            [
                "fe4c6a6d3b528485",
                "fbe66d3dafcbc4a2"
            ]
        ]
    },
    {
        "id": "270d1c320983ee90",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37409",
        "acknowledge": true,
        "name": "TV Light",
        "topic": "",
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "14e387be129bfff1"
            ]
        ]
    },
    {
        "id": "14e387be129bfff1",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on ? 1 : 0; // Set payload based on 'on' value\n} else if (msg.payload.params && typeof msg.payload.params.brightness === 'number') {\n    msg.payload = msg.payload.params.brightness; // Set brightness value\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "c60b7b529232abaf",
                "4c023ac09ba64e58"
            ]
        ]
    },
    {
        "id": "fbe66d3dafcbc4a2",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === 1) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === 0) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be 1 or 0\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "af661fc47acfdc2b"
            ]
        ]
    },
    {
        "id": "af661fc47acfdc2b",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37409",
        "name": "TV Light",
        "x": 1320,
        "y": 980,
        "wires": []
    },
    {
        "id": "65c12c04b46e8c8d",
        "type": "google-home",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37410",
        "acknowledge": true,
        "name": "Moon Light",
        "topic": "",
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "2a776cc578a7bbd4"
            ]
        ]
    },
    {
        "id": "e1a11dfc34f08b75",
        "type": "ui_slider",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Moonlight Brightness",
        "tooltip": "",
        "group": "5514a91992dea871",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "255",
        "step": 1,
        "className": "brightness",
        "x": 780,
        "y": 1440,
        "wires": [
            [
                "ac0f5493d3a149c4",
                "b6e8010c7abfcc5c"
            ]
        ]
    },
    {
        "id": "41342e9d05cf176e",
        "type": "ui_switch",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Moonlight Power",
        "tooltip": "",
        "group": "5514a91992dea871",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "state",
        "x": 770,
        "y": 1360,
        "wires": [
            [
                "ac0f5493d3a149c4",
                "f9760c7d1e39e819"
            ]
        ]
    },
    {
        "id": "ac0f5493d3a149c4",
        "type": "wled",
        "z": "dc682c287d7214bc",
        "name": "Moon Light",
        "address": "192.168.31.180",
        "interval": 0,
        "x": 1070,
        "y": 1280,
        "wires": []
    },
    {
        "id": "af5e7b5d9c8e8e2a",
        "type": "ui_dropdown",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "Moonlight Effects",
        "tooltip": "",
        "place": "Select option",
        "group": "5514a91992dea871",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Rainbow",
                "value": "Rainbow",
                "type": "str"
            },
            {
                "label": "Fire",
                "value": "Fire",
                "type": "str"
            },
            {
                "label": "Sweep",
                "value": "Sweep",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "ac0f5493d3a149c4"
            ]
        ]
    },
    {
        "id": "2a776cc578a7bbd4",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "json to int",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n// {\"command\":\"action.devices.commands.BrightnessAbsolute\",\"params\":{\"brightness\":48,\"online\":true}}\n// Output msg.payload will be 1 or 0\n\nif (msg.payload.params && typeof msg.payload.params.on === 'boolean') {\n    msg.payload = msg.payload.params.on; // Set payload based on 'on' value\n} \nelse if (msg.payload.params && typeof msg.payload.params.brightness === 'number') {\n    msg.payload = msg.payload.params.brightness * 2.5; // Set brightness value\n} else {\n    msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: 'params.on' not found or not a boolean\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1360,
        "wires": [
            [
                "af5e7b5d9c8e8e2a",
                "41342e9d05cf176e",
                "e1a11dfc34f08b75"
            ]
        ]
    },
    {
        "id": "4c023ac09ba64e58",
        "type": "ui_slider",
        "z": "dc682c287d7214bc",
        "name": "",
        "label": "TV Led Brightness",
        "tooltip": "",
        "group": "5514a91992dea871",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "255",
        "step": 1,
        "className": "brightness",
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "112da435e6767db6",
                "2bcb7fec331219ec"
            ]
        ]
    },
    {
        "id": "112da435e6767db6",
        "type": "wled",
        "z": "dc682c287d7214bc",
        "name": "TV LED",
        "address": "192.168.31.15",
        "interval": 0,
        "x": 1060,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2bcb7fec331219ec",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.BrightnessAbsolute\",\"params\":{\"brightness\":61,\"online\":true}}\n\nif (msg.payload >= 0 && msg.payload <= 255) {\n    msg.payload = {\n        command: \"action.devices.commands.BrightnessAbsolute\",\n        params: {\n            brightness: msg.payload,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should in range from 0 to 255\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1060,
        "wires": [
            [
                "af661fc47acfdc2b"
            ]
        ]
    },
    {
        "id": "b6e8010c7abfcc5c",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.BrightnessAbsolute\",\"params\":{\"brightness\":61,\"online\":true}}\n\nif (msg.payload >= 0 && msg.payload <= 255) {\n    msg.payload = {\n        command: \"action.devices.commands.BrightnessAbsolute\",\n        params: {\n            brightness: msg.payload,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be in range from 0 to 255\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1440,
        "wires": [
            [
                "b872e4b18866d9fc"
            ]
        ]
    },
    {
        "id": "b872e4b18866d9fc",
        "type": "google-home-response",
        "z": "dc682c287d7214bc",
        "conf": "3a692403905caf38",
        "device": "37410",
        "name": "Moon Light",
        "x": 1330,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f9760c7d1e39e819",
        "type": "function",
        "z": "dc682c287d7214bc",
        "name": "int to json ",
        "func": "// Node-RED Function node code\n\n// Input msg example:\n// {\"payload\": 1} or {\"payload\": 0}\n\n// Output msg will be:\n// {\"command\":\"action.devices.commands.OnOff\",\"params\":{\"on\":true,\"online\":true}}\n\nif (msg.payload === true) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: true,\n            online: true\n        }\n    };\n} else if (msg.payload === false) {\n    msg.payload = {\n        command: \"action.devices.commands.OnOff\",\n        params: {\n            on: false,\n            online: true\n        }\n    };\n} else {\n    // msg.payload = null; // Handle invalid input\n    node.warn(\"Invalid input: payload should be true or false\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1360,
        "wires": [
            [
                "b872e4b18866d9fc"
            ]
        ]
    },
    {
        "id": "3a692403905caf38",
        "type": "google-home-conf",
        "username": "Rajsoni03"
    },
    {
        "id": "0d360e7b0956a7ad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e769c46977393551",
        "type": "ui_group",
        "name": "Home",
        "tab": "be5eefa82ee0f737",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5514a91992dea871",
        "type": "ui_group",
        "name": "WLED",
        "tab": "be5eefa82ee0f737",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "be5eefa82ee0f737",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
